 # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Mac OS
.DS_Store

# Test / data
test/test_trimming/
test/test_mapping/
test/test_counting/
test/test_rna_seq_pipeline/

todo
